.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


.home_background{
  /* background-repeat: no-repeat; */
  background-size: auto;
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
}
#logo_title{
  background-color: rgba(0,0,0,.7);
  /* background-color: darkblue; */
  padding: 35px;
  color: white;
  font-size: 30px;
}

.login_form{
  display: inline-block;
  padding: 50px;
  /* background-color: black; */
}
.login_form div{
  padding: 10px;
}
#error_message{
  color: red;
  font-display: bold;
}


.circle {
  width: 100%;
  border-radius: 50%;
}
.rectangle {
  width: 100%;
}
.rectangle2 {
  width: 100%;
  background-color: white;
  /* display: none; */
}
.circle:hover, .rectangle:hover{
  cursor: pointer;
  background-color: white;
}
.table_page{
  /* background-color: blanchedalmond; */
  /* margin: 0 auto; */
  /* padding: 0; */
    /* height: 100%; */
  /* left: 0%;
  right: 0%;
  bottom: 0%; */
  /* top: 15%; */
  /* position: absolute; */
}
.table_title{
  margin-top: 10px;
}
.table_column {
  float: left;
  width: 33.33%;
  /* height: $(window).width();; */
  /* display: inline-block; */
  /* padding: 50px 0 50px 0; */
  padding: 40px;
  /* margin: 0; */
  /* background-color: blue; */
  /* background-image: url("./images/productpic/home4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center; */
}
/* .table_column.overlay {
  position: relative; }
  .table_column.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6); } */

.tables{
  /* padding:0 0 50px 0; */
  margin: 20px auto;
  /* margin: 20px; */
  /* text-align: center; */
  vertical-align: middle;
  height: 85px;
  /* line-height: 50px; */
  overflow: auto
}
/* .table_col2 div{
  margin-top: 25px;
  width: 100px;
  height: 100px;
} */

.nav_bar{
  background-color: rgba(0,0,0,.7);
  /* background-color: darkblue; */
  color: rgb(118, 118, 218);
  /* color: darkblue; */
  z-index: 3;
  /* color: white; */
}
.nav_bar h4{
  /* color: white; */
}
.nav_bar ul{
  list-style-type: none;
  background-color: #282c34;
  margin: 0;
  /* border-top: 5px double lightgrey; */
  /* overflow-y: auto; */
}
.nav_bar ul li{
  /* float: left; */
  display: inline-block;
  width: 20%;
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  /* font-size: 15px; */
  border-right: 2px solid rgba(227,225,225, .8);
  /* border-bottom: 2px solid rgba(227,225,225, .8); */
}
/* .nav_bar ul li:active, .nav_bar ul li:target{
  background-color: #61dafb;
} */
.nav_bar ul li:hover{
  cursor: pointer;
  background-color: grey;
}
/* .nav_bar ul li:focus{
  background-color: bisque;
} */
.content_bar{
  /* background-color: rgba(0,0,0,.7); */
}
.menu_page{
  background-color: darkblue;
  /* border-top: 1px solid white; */
}
.menu_category{
  float: left;
  width: 15%;
  height: 100vh;
  /* height: 647; */
  background-color: darkblue;
  max-height: -647;
  /* position: fixed; */
  position:relative;
  /* border-left: 5px double lightgrey; */
    /* top:0; */
    /* bottom:647px; */
    /* left:0; */
    /* right:0; */
    /* overflow:hidden; */
}
.menu_category h2{
  /* background-color: rgba(0,0,0,.7); */
  color: white;
}
.menu_category ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  /* text-decoration: none; */
}
.menu_category ul li{
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.menu_category ul li:hover{
  background-color: black;
  /* background-color: white; */
}
.menu_item{
  float: left;
  width: 85%;
  height: 100%;
  background-color: white;
  border-left: 5px double lightgrey;
  border-right: 5px double lightgrey;
  border-top: 5px double lightgrey;
}
.items{
  width: 14.2857142%;
  margin-left: auto;
  left: auto;
  right: auto;
  background-color: white;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* padding: 0 .75rem; */
  padding-top :15px;
  padding-bottom :15px;
  min-height: 1px;
}
.items:hover{
  cursor: pointer;
  background-color: rgb(185, 194, 196);
}
.items_name{
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  background-color: darkblue;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .75rem;
  font-style: bold;
  max-height: 25px;
  color: white;
}
.tables_name{
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
  background-color: darkblue;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .75rem;
  font-style: bold;
  max-height: 40px;
  color: white;
}

#add_btn{
  background-color: black;
  color: white;
  width: 50%;
  left: 25%;
  position: relative;
  padding: 10px;
  /* margin-bottom: 20px; */
}
.items_added{
  width: 16.6666666%;
  margin-left: auto;
  left: auto;
  right: auto;
  background-color: rgb(219, 242, 255);
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top :15px;
  padding-bottom :15px;
  /* padding: 0 .75rem; */
  min-height: 1px;
}
.items_added_add{
  width: 33.3333%;
  margin-left: auto;
  left: auto;
  right: auto;
  background-color: rgb(219, 242, 255);
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top :15px;
  padding-bottom :15px;
  /* padding: 0 .75rem; */
  min-height: 1px;
  font-size: 20px;
  /* border: 2px solid black; */
}
.added_item{
  float: right;
  width: 85%;
  background-color: white;
  height: 100%;
  border: 5px double lightgrey;
}
.added_item_add{
  float: right;
  width: 85%;
  background-color: white;
  height: 100%;
  border-left: 5px double lightgrey;
  border-right: 5px double lightgrey;
}

.items_added:hover, .items_added_add:hover{
  cursor: pointer;
  background-color: rgb(185, 194, 196);
}
.receipt{
  /* background-color: rgb(240, 239, 216, .4); */
  /* background-color: darkblue; */
  /* position: absolute; */
  /* width: 50%; */
  margin: 0 auto;
  padding: 30px;
}
.receipt_top{
  /* background-color: blanchedalmond; */
}
.receipt table{
  margin: 0 auto;
  /* background-color: beige; */
  /* border-collapse: inherit; */
  border:1px solid black;
  /* width: 500px;
  height: 400px; */
}
.receipt_color_top{
  background-color: grey;
}
.receipt_color_mid{
  background-color: white;
}
.receipt_color_top th, .receipt_color_top td{
  padding: 10px;
}
.receipt_color_mid td{
  padding: 30px;
}
.pay_bottom{
  width: 100%;
  float: left;
  /* background-color: darkblue; */
  /* padding: 10px; */
}
.pay_bottom ul li:nth-child(1){
  width: 15%;
  /* float: left; */
  left: 30%;
  position: absolute;
  color: white;
  background-color: darkblue;
  padding: 10px;
  border-radius: 50px;
  font-size: 18px;
  display: inline-block;
}
.pay_bottom ul li:nth-child(2){
  width: 15%;
  /* float: right; */
  right: 30%;
  position: absolute;
  color: white;
  background-color: darkblue;
  padding: 10px;
  border-radius: 50px;
  font-size: 18px;
  display: inline-block;
}
.pay_bottom ul li:hover, #placeorder_btn:hover, #add_btn:hover{
  cursor: pointer;
  background-color: lightgrey;
}
#placeorder_btn{
  width: 15%;
  /* float: right; */
  right: 18%;
  position: absolute;
  color: white;
  background-color: darkblue;
  padding: 10px;
  border-radius: 50px;
  font-size: 18px;
  display: inline-block;
}

.function_btn{

}
.function_btn:hover{
  cursor: pointer;
}
.edit_btn{
  font-size: 20px;
  padding: 10px 15px 10px 15px;
}
.del_btn{
  font-size: 20px;
  /* position: relative;
  width: 25%;
  left: 35%; */
}
.edit_btn:hover, .del_btn:hover{
  background-color: azure;
  cursor: pointer;
}
.close_btn{
  color: red;
  /* float: right; */
  padding: 5px;
  /* position: absolute; */
    top: 0px;
    right: 0px;
}
.close_btn:hover{
  cursor: pointer;
  background-color: azure;
}
.black{
  background-color: black;
}
.dropdown{
  width: 10%;
  float: left;
  background-color: black;
  left: 45%;
  right: 25%;
  position: absolute;
}
.hover:hover{
  cursor: pointer;
}
.hover_background:hover{
  cursor: pointer;
  background-color: azure;
}
.blacks{
  color: black;
}
.view_btn, .add_btn{
  padding: 5px;
    top: 0px;
    right: 0px;
}
.view_btn:hover, .add_btn:hover{
  cursor: pointer;
  background-color: azure;
}
.a{
  display: none;
}



@media only screen and (max-width: 1050px) {
  
  .items{
    width: 20%;
  }
  .items_added{
    width: 20%;
  }
  .table_column{
    padding: 0 30px 0 30px;
  }
  .tables{
    /* padding:0 0 50px 0; */
    /* margin: 40px auto; */
    /* text-align: center; */
    vertical-align: middle;
    height: 95px;
    /* line-height: 50px; */
  }
}

@media only screen and (max-width: 680px) {
  .table_page {
    left: 0;
  right: 0;
  }
  .items{
    width:33.33333333%;
  }
  .items_added{
    width:33.333333%;
  }
  .items_added_add{
    font-size: 15px;
  }
  .menu_category{
    font-size: 15px;
  }.menu_category h2{
    font-size: 20px;
  }.menu_category ul li{
    font-size: 15px;
  }
  .nav_bar ul li{
    font-size: 13px;
  }
  .del_btn{
    font-size: 15px;
  }
  .table_column{
    padding: 5px;
  }
}



/* copy from template: https://colorlib.com/wp/template/logis/?v=69e1aafeccc5 */
.site-blocks-cover {
  background-image: url("./images/productpic/home4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center; }
  .site-blocks-cover.overlay {
    position: relative; }
    .site-blocks-cover.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.6); }
  .site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%; }
  .site-blocks-cover, .site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh); }
  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover .row {
    min-height: 600px;
    height: calc(30vh); }
  .site-blocks-cover h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #fff; }
    @media (max-width: 991.98px) {
      .site-blocks-cover h1 {
        font-size: 2rem; } }
  .site-blocks-cover p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    line-height: 1.5; }
  .site-blocks-cover .btn {
    border: 2px solid transparent; }
    .site-blocks-cover .btn:hover {
      color: #fff !important;
      background: none;
      border: 2px solid #fff; }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; }
  @media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
      font-size: 3rem; } }
/* copy from template: https://colorlib.com/wp/template/logis/?v=69e1aafeccc5  END*/
      